#openspec
openspec

#依赖
node_modules

#AI助手
.claude
AGENTS.md
CLAUDE.md

#后端缓存文件
*.pyc

##IDE配置
.vscode

#node
*.lock
bun.lock

#前端编译
dist

#python包信息
nexttranslation_backend.egg-info
backend_llm_log_test.out.txt
backend_llm_log_test.err.txt
